/* Existing styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* Your existing styles for the background image */
    background-image: url('https://cdn.pixabay.com/photo/2013/07/18/10/55/dna-163466_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Arial', sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    position: relative;
    color: #4CAF50;
    z-index: 1;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    position: relative;
    z-index: 0;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 8px;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 30px;
}

h2 {
    color: #4CAF50;
    margin-top: 15px;
}

p {
    word-wrap: break-word;
    white-space: pre-wrap;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.attribution {
    font-size: 14px;
    color: #ddd;
}

.attribution a {
    color: #4CAF50;
    text-decoration: none;
}

.pritam {
    font-weight: bold;
    color: #45a049;
}

.pritam span {
    font-size: 20px;
    color: #ffcc00;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    header {
        padding: 10px;
    }

    .container {
        max-width: 100%;
        padding: 10px;
        box-shadow: none;
    }

    form {
        max-width: 100%;
    }

    button {
        margin-top: 10px;
    }

    footer {
        padding: 5px;
    }

    .attribution {
        font-size: 12px;
    }
}
